/* Variables! */
$background-color: #121212; //spotify "grey"
$content-width: 75%; //only use a portion of the screen for the vis
$slider-width: 33%; //make the slider a portion of the above width
$slider-height: 1rem;
$size-multiplier: 2;
$slider-thumb-color: #1cd760; //spotify green
$slider-thumb-color-active: #158f42; //slightly darker green to show that you're interacting with the button
$slider-border-color: #000000; //black borders
$slider-border-thiccness: 1px;
$text-color: #dddddd; //smidge offwhite for everyone's eyes
$text-header-size: 3rem;
$text-subheader-size: 1.5rem;
$text-size: 1rem;

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color: $background-color !important;
    color: $text-color !important;
    //font stack
    font-family: 'Montserrat',  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    //display: flex;
    font-size: $text-size !important;
}

div {
    display: flex; //make every div flex
}

#contentWordBubble{
    border-radius: 20px;
    border: 1px solid $text-color;
    height: 60vh;
    width: $content-width;
}

.h0 { //so big we are beyond h1 --> h0
    font-size: $text-header-size;
}

.subHeader {
    font-size: $text-subheader-size;
}

.bodyContainer {
    flex-direction: column;
    justify-content: center; //center whatever is in our svg divs
    align-items: center;
}

.tooltip {
    position: absolute;
    max-width: 200px;
    height: auto;
    padding: 5px;
    color: black;
    background-color: rgb(6, 44, 56);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    pointer-events: none; /* CRITICAL disable mouse */
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.userInputContainer {
    width: $content-width;
    flex-direction: column; //this makes it so that each div in the container is a column
    align-items: center;
}

.valuesContainer {
    flex-direction: row; //we want things in the value container to be all in one row
    justify-content: center; //center the things in the values container
    align-items: center;
    margin-top: 40px; //add some much needed space between the slider and the range report
}

.sliderContainer {
    //CANNOT USE PADDING HERE -- WILL BREAK THE SLIDER
    width: $slider-width;
    position: relative;
    justify-content: center;
    align-items: center;
    //filter: drop-shadow(0 0 5px #7a7a7a);
}

#slider1 { //exclusively for javascript, does nothing else. DO NOT REMOVE
    color: $slider-thumb-color;
}

//The below is heavily modified from the slider tutorial
//https://codingartistweb.com/2021/06/double-range-slider-html-css-javascript/

.sliderTrack {
    width: 100%; //uses 100% of the space avaliable
    height: $slider-height; //the height of the track
    border-radius: $slider-height; //round off the ends
    border: $slider-border-thiccness solid $slider-border-color;
}

input[type="range"] { //the bar that the slider dots live on
    appearance: none; //hide the orignal slider
    outline: none;
    width:100%;
    background-color: transparent;
    pointer-events: none;
    position: absolute;

    &::-webkit-slider-thumb {
        appearance: none; //hide the original dots
        height: $slider-height * $size-multiplier; //the rest defines what our new ones look like
        width: $slider-height * $size-multiplier;
        background-color: $slider-thumb-color;
        cursor: pointer;
        //margin-top: -0.5em;
        pointer-events: auto;
        border-radius: 50%;
        border: $slider-border-thiccness solid $slider-border-color;
    }

    &:active::-webkit-slider-thumb{
        background-color: $slider-thumb-color-active;
        //border: 3px solid $slider-thumb-color;
    }
}