/* Variables! */
$background-color: #121212; //spotify "grey"
$content-width: 75%; //only use a portion of the screen for the vis
$slider-width: 50%; //make the slider a portion of the above width
$slider-height: 1rem;
$size-multiplier: 2;
$slider-thumb-color: #1cd760; //spotify green
$slider-thumb-color-active: #158f42; //slightly darker green to show that you're interacting with the button
$slider-border-color: #000000; //black borders
$slider-border-thiccness: 1px;
$text-color: #dddddd; //smidge offwhite for everyone's eyes
$text-header-size: 3rem;
$text-subheader-size: 1.5rem;
$text-size: 1rem;
$vis-size: 55vh;
$gradient: #0d0887, #100788, #130789, #16078a, #19068c, #1b068d, #1d068e, #20068f, #220690, #240691, #260591, #280592, #2a0593, #2c0594, #2e0595, #2f0596, #310597, #330597, #350498, #370499, #38049a, #3a049a, #3c049b, #3e049c, #3f049c, #41049d, #43039e, #44039e, #46039f, #48039f, #4903a0, #4b03a1, #4c02a1, #4e02a2, #5002a2, #5102a3, #5302a3, #5502a4, #5601a4, #5801a4, #5901a5, #5b01a5, #5c01a6, #5e01a6, #6001a6, #6100a7, #6300a7, #6400a7, #6600a7, #6700a8, #6900a8, #6a00a8, #6c00a8, #6e00a8, #6f00a8, #7100a8, #7201a8, #7401a8, #7501a8, #7701a8, #7801a8, #7a02a8, #7b02a8, #7d03a8, #7e03a8, #8004a8, #8104a7, #8305a7, #8405a7, #8606a6, #8707a6, #8808a6, #8a09a5, #8b0aa5, #8d0ba5, #8e0ca4, #8f0da4, #910ea3, #920fa3, #9410a2, #9511a1, #9613a1, #9814a0, #99159f, #9a169f, #9c179e, #9d189d, #9e199d, #a01a9c, #a11b9b, #a21d9a, #a31e9a, #a51f99, #a62098, #a72197, #a82296, #aa2395, #ab2494, #ac2694, #ad2793, #ae2892, #b02991, #b12a90, #b22b8f, #b32c8e, #b42e8d, #b52f8c, #b6308b, #b7318a, #b83289, #ba3388, #bb3488, #bc3587, #bd3786, #be3885, #bf3984, #c03a83, #c13b82, #c23c81, #c33d80, #c43e7f, #c5407e, #c6417d, #c7427c, #c8437b, #c9447a, #ca457a, #cb4679, #cc4778, #cc4977, #cd4a76, #ce4b75, #cf4c74, #d04d73, #d14e72, #d24f71, #d35171, #d45270, #d5536f, #d5546e, #d6556d, #d7566c, #d8576b, #d9586a, #da5a6a, #da5b69, #db5c68, #dc5d67, #dd5e66, #de5f65, #de6164, #df6263, #e06363, #e16462, #e26561, #e26660, #e3685f, #e4695e, #e56a5d, #e56b5d, #e66c5c, #e76e5b, #e76f5a, #e87059, #e97158, #e97257, #ea7457, #eb7556, #eb7655, #ec7754, #ed7953, #ed7a52, #ee7b51, #ef7c51, #ef7e50, #f07f4f, #f0804e, #f1814d, #f1834c, #f2844b, #f3854b, #f3874a, #f48849, #f48948, #f58b47, #f58c46, #f68d45, #f68f44, #f79044, #f79143, #f79342, #f89441, #f89540, #f9973f, #f9983e, #f99a3e, #fa9b3d, #fa9c3c, #fa9e3b, #fb9f3a, #fba139, #fba238, #fca338, #fca537, #fca636, #fca835, #fca934, #fdab33, #fdac33, #fdae32, #fdaf31, #fdb130, #fdb22f, #fdb42f, #fdb52e, #feb72d, #feb82c, #feba2c, #febb2b, #febd2a, #febe2a, #fec029, #fdc229, #fdc328, #fdc527, #fdc627, #fdc827, #fdca26, #fdcb26, #fccd25, #fcce25, #fcd025, #fcd225, #fbd324, #fbd524, #fbd724, #fad824, #fada24, #f9dc24, #f9dd25, #f8df25, #f8e125, #f7e225, #f7e425, #f6e626, #f6e826, #f5e926, #f5eb27, #f4ed27, #f3ee27, #f3f027, #f2f227, #f1f426, #f1f525, #f0f724, #f0f921;
$top-space: 20px;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: $background-color !important;
  color: $text-color !important;
  //font stack
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  //display: flex;
  font-size: $text-size !important;
}

div {
  display: flex; //make every div flex
  margin-left: auto;
  margin-right: auto; //center everything
}

//From https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
text {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.vis {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  height: 100%;
  //margin-left: -80px
  //gap: 40px;
}

.vis {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  //margin-left: -80px
  //gap: 40px;
}

#contentWordBubble {
  border-radius: 20px;
  border: 1px solid #ddd;
  height: $vis-size;
  width: $content-width;
  // margin-right: 20px
  //margin-left: 20px
}

#bubble_size_legend {
  // margin-right: 10px;
  // margin-top:-100px
  //margin: 0;
  //margin-top: 20px;
  min-width: 250px;
  max-width: 250px;
  height: $vis-size;
  margin-left: 20px;
  margin-right: 20px;
}

#sentiment_legend {
  height: $vis-size;
  flex-direction: row;
  //position: relative;
  // margin-left: 20px;
  // margin-right: 50px;
  // padding-left: 175px;
  // padding-right: 40px;
  min-width: 250px;
  max-width: 250px;
}

#gradientContainer {
  flex-direction: column;
  justify-content: space-between;
}

#gradient {
  background-image: linear-gradient(to top, #0d0887, #100788, #130789, #16078a, #19068c, #1b068d, #1d068e, #20068f, #220690, #240691, #260591, #280592, #2a0593, #2c0594, #2e0595, #2f0596, #310597, #330597, #350498, #370499, #38049a, #3a049a, #3c049b, #3e049c, #3f049c, #41049d, #43039e, #44039e, #46039f, #48039f, #4903a0, #4b03a1, #4c02a1, #4e02a2, #5002a2, #5102a3, #5302a3, #5502a4, #5601a4, #5801a4, #5901a5, #5b01a5, #5c01a6, #5e01a6, #6001a6, #6100a7, #6300a7, #6400a7, #6600a7, #6700a8, #6900a8, #6a00a8, #6c00a8, #6e00a8, #6f00a8, #7100a8, #7201a8, #7401a8, #7501a8, #7701a8, #7801a8, #7a02a8, #7b02a8, #7d03a8, #7e03a8, #8004a8, #8104a7, #8305a7, #8405a7, #8606a6, #8707a6, #8808a6, #8a09a5, #8b0aa5, #8d0ba5, #8e0ca4, #8f0da4, #910ea3, #920fa3, #9410a2, #9511a1, #9613a1, #9814a0, #99159f, #9a169f, #9c179e, #9d189d, #9e199d, #a01a9c, #a11b9b, #a21d9a, #a31e9a, #a51f99, #a62098, #a72197, #a82296, #aa2395, #ab2494, #ac2694, #ad2793, #ae2892, #b02991, #b12a90, #b22b8f, #b32c8e, #b42e8d, #b52f8c, #b6308b, #b7318a, #b83289, #ba3388, #bb3488, #bc3587, #bd3786, #be3885, #bf3984, #c03a83, #c13b82, #c23c81, #c33d80, #c43e7f, #c5407e, #c6417d, #c7427c, #c8437b, #c9447a, #ca457a, #cb4679, #cc4778, #cc4977, #cd4a76, #ce4b75, #cf4c74, #d04d73, #d14e72, #d24f71, #d35171, #d45270, #d5536f, #d5546e, #d6556d, #d7566c, #d8576b, #d9586a, #da5a6a, #da5b69, #db5c68, #dc5d67, #dd5e66, #de5f65, #de6164, #df6263, #e06363, #e16462, #e26561, #e26660, #e3685f, #e4695e, #e56a5d, #e56b5d, #e66c5c, #e76e5b, #e76f5a, #e87059, #e97158, #e97257, #ea7457, #eb7556, #eb7655, #ec7754, #ed7953, #ed7a52, #ee7b51, #ef7c51, #ef7e50, #f07f4f, #f0804e, #f1814d, #f1834c, #f2844b, #f3854b, #f3874a, #f48849, #f48948, #f58b47, #f58c46, #f68d45, #f68f44, #f79044, #f79143, #f79342, #f89441, #f89540, #f9973f, #f9983e, #f99a3e, #fa9b3d, #fa9c3c, #fa9e3b, #fb9f3a, #fba139, #fba238, #fca338, #fca537, #fca636, #fca835, #fca934, #fdab33, #fdac33, #fdae32, #fdaf31, #fdb130, #fdb22f, #fdb42f, #fdb52e, #feb72d, #feb82c, #feba2c, #febb2b, #febd2a, #febe2a, #fec029, #fdc229, #fdc328, #fdc527, #fdc627, #fdc827, #fdca26, #fdcb26, #fccd25, #fcce25, #fcd025, #fcd225, #fbd324, #fbd524, #fbd724, #fad824, #fada24, #f9dc24, #f9dd25, #f8df25, #f8e125, #f7e225, #f7e425, #f6e626, #f6e826, #f5e926, #f5eb27, #f4ed27, #f3ee27, #f3f027, #f2f227, #f1f426, #f1f525, #f0f724, #f0f921);
  width: 20px;
  height: $vis-size;
  // margin-top: 40px;
  // margin-left: 125px;
}

#sentiment {
  width: 20px;
  writing-mode: vertical-rl;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
}

#max {
  font-size: 15px;
  //position: absolute;
  //top: -5px
}

#min {
  font-size: 15px;
  //position: absolute;
  //bottom: -60px
}

.h0 { //so big we are beyond h1 --> h0
  font-size: $text-header-size;
}

.subHeader {
  font-size: $text-subheader-size;
}

.bodyContainer {
  flex-direction: column;
  justify-content: center; //center whatever is in our svg divs
  align-items: center;
}

.tooltip {
  position: absolute;
  max-width: 200px;
  height: auto;
  padding: 5px;
  color: black;
  background-color: rgb(6, 44, 56);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none; /* CRITICAL disable mouse */
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.userInputContainer {
  width: $content-width;
  flex-direction: column; //this makes it so that each div in the container is a column
  align-items: center;
}

.valuesContainer {
  flex-direction: row; //we want things in the value container to be all in one row
  justify-content: center; //center the things in the values container
  align-items: center;
  margin-top: 10px; //add some much needed space between the slider and the range report
  margin-bottom: 10px
}

.sliderContainer {
  //CANNOT USE PADDING HERE -- WILL BREAK THE SLIDER
  width: $slider-width;
  position: relative;
  justify-content: center;
  align-items: center;
  //filter: drop-shadow(0 0 5px #7a7a7a);
}

#slider1 { //exclusively for javascript, does nothing else. DO NOT REMOVE
  color: $slider-thumb-color;
}

//The below is heavily modified from the slider tutorial
//https://codingartistweb.com/2021/06/double-range-slider-html-css-javascript/

.sliderTrack {
  width: 100%; //uses 100% of the space avaliable
  height: $slider-height; //the height of the track
  border-radius: $slider-height; //round off the ends
  border: $slider-border-thiccness solid $slider-border-color;
}

input[type="range"] { //the bar that the slider dots live on
  appearance: none; //hide the orignal slider
  outline: none;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  position: absolute;

  &::-webkit-slider-thumb {
    appearance: none; //hide the original dots
    height: $slider-height * $size-multiplier; //the rest defines what our new ones look like
    width: $slider-height * $size-multiplier;
    background-color: $slider-thumb-color;
    cursor: pointer;
    //margin-top: -0.5em;
    pointer-events: auto;
    border-radius: 50%;
    border: $slider-border-thiccness solid $slider-border-color;
  }

  &:active::-webkit-slider-thumb {
    background-color: $slider-thumb-color-active;
    //border: 3px solid $slider-thumb-color;
  }
}

//This adjusts only the slider 3 thumb
#slider3 {
  &::-webkit-slider-thumb { //what the thumb is like most of the time
    appearance: none; //hide the original dots
    height: $slider-height * $size-multiplier * 2; //the rest defines what our new ones look like
    width: $slider-height * $size-multiplier * 2;
    background-image: url('../assets/images/favicons/favicon.ico');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    //margin-top: -0.5em;
    pointer-events: auto;
    border-radius: 50%;
    border: $slider-border-thiccness solid $slider-border-color;
  }

  &:active::-webkit-slider-thumb { //what changes when you select the thumb
    background-color: $slider-thumb-color-active;
    //border: 3px solid $slider-thumb-color;
  }
}

/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
  margin-right: 20px
}

.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px
}

.dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px
}

.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
  background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8
}

.dropdown.active .select > i {
  transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer
}

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2
}