/* Variables! */
$background-color: #121212; //spotify "grey"
$content-width: 75%; //only use a portion of the screen for the vis
$slider-width: 33%; //make the slider a portion of the above width
$slider-height: 1em;
$size-multiplyer: 2;
$slider-thumb-color: #1cd760; //spotify green
$slider-thumb-color-active: #dddddd; //smidge offwhite for everyone's eyes
$slider-border-color: #dddddd;
$slider-border-thiccness: 2px;
$text-color: #dddddd;

html {
    scroll-behavior: smooth;
}

body{
    background-color: $background-color !important;
    color: $text-color !important;
    //font stack
    font-family: 'Montserrat',  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    //display: flex;
}

div {
    display: flex; //make every div flex
}

.bodyContainer {
    flex-direction: column;
    justify-content: center; //center whatever is in our svg divs
    align-items: center;
}

.userInputContainer {
    width: $content-width;
    flex-direction: column; //this makes it so that each div in the container is a column
    align-items: center;
}

.valuesContainer {
    flex-direction: row; //we want things in the value container to be all in one row
    justify-content: center; //center the things in the values container
    align-items: center;
    padding: 40px; //add some much needed space between the slider and the range report
}

.sliderContainer {
    //CANNOT USE PADDING HERE -- WILL BREAK THE SLIDER
    width: $slider-width;
    position: relative;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 30px rgb(255, 255, 255));
}

//The below is heavily modified from the slider tutorial
//https://codingartistweb.com/2021/06/double-range-slider-html-css-javascript/

.sliderTrack {
    width: 100%; //uses 100% of the space avaliable
    height: $slider-height; //the height of the track
    border-radius: $slider-height; //round off the ends
    border: $slider-border-thiccness solid $slider-border-color;
}

input[type="range"] { //the bar that the slider dots live on
    appearance: none; //hide the orignal slider
    outline: none;
    width:100%;
    background-color: transparent;
    pointer-events: none;
    position: absolute;

    &::-webkit-slider-thumb {
        appearance: none; //hide the original dots
        height: $slider-height * $size-multiplyer; //the rest defines what our new ones look like
        width: $slider-height * $size-multiplyer;
        background-color: $slider-thumb-color;
        cursor: pointer;
        //margin-top: -0.5em;
        pointer-events: auto;
        border-radius: 50%;
        border: $slider-border-thiccness solid $slider-border-color;
    }

    &:active::-webkit-slider-thumb{
        background-color: $slider-thumb-color-active;
        border: 3px solid $slider-thumb-color;
    }
}

#slider1 { //exclusively for javascript, does nothing else. DO NOT REMOVE
    color: $slider-thumb-color;
}